desktop.ini
.vscode
.vscode/launch.json
.vscode/tasks.json
.vscode/*
a.exe.stackdump
*.exe
.idea/Ajump.iml
.idea/Ajump.iml
.idea/modules.xml
.idea/modules.xml
.idea/modules.xml
.idea/vcs.xml
.idea/modules.xml
.idea/Ajump.iml
Code/lista_nemici.txt
Code/lista_proiettili.txt
