
desktop.ini
.vscode
.vscode/launch.json
.vscode/tasks.json
tempCodeRunnerFile.exe
a.exe
alice.exe
Alex.exe
Alessandro.exe
Apo.exe
a.exe.stackdump
*.exe
Alessandro/main.exe
Alessandro/main.exe
Alice/test.exe
lista.txt
Alessandro/lista_nemici.txt
Alessandro/lista_proiettili.txt
.idea/Ajump.iml
.idea/Ajump.iml
.idea/modules.xml
.idea/modules.xml
.idea/modules.xml
.idea/vcs.xml
.idea/modules.xml
.idea/Ajump.iml
Alessandro/tempCodeRunnerFile.cpp
Alessandro/tempCodeRunnerFile.cpp
