
desktop.ini
.vscode
.vscode/launch.json
.vscode/tasks.json
tempCodeRunnerFile.exe
a.exe
alice.exe
Alex.exe
Alessandro.exe
Apo.exe
a.exe.stackdump
*.exe
Alessandro/main.exe
Alessandro/main.exe
Alice/test.exe
.idea/workspace.xml
